/*menu*/
.prod-menu .row {
    font-family: 'Montserrat';
    min-height: 60px;
}

.prod-banner {
    background: url("../images/source/About-Us.jpg") no-repeat fixed;
    min-height: 500px;
    font-family: 'Montserrat';
    background-size: contain;
}

.prod-banner-item,
.prod-banner-item-logo {
    display: inline-block;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.prod-banner-item:hover {
    cursor: pointer;
    border-bottom: white solid 2px;
}

.prod-banner-item.selected {
    border-bottom: white solid 2px;
}

.prod-banner-headline {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.prod-banner-title {
    font-size: 72px;
}

.prod-banner-desc {
    font-size: 36px;
}

.prod-banner-item.selected {
    border-bottom: white solid 2px;
}

.prod-banner-headline {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.prod-banner-title {
    font-size: 72px;
}
.prod-banner-desc {
    font-size: 36px;
}
/*body*/
.heading-left{
    font-size: 30px;
    color: #13255E;
    text-align: left;
    font-family: 'Montserrat';
    font-weight: 600;
}
.heading-right{
    font-size: 30px;
    color: #13255E;
    text-align: right;
    font-family: 'Montserrat';
    font-weight: 600;
}
.first-heading{
    font-size: 40px;
    color: #13255E;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-top: 50px;
}
.sub-heding-1{
    padding-left: 90px;
    padding-right: 90px;
    text-align: center;
    font-size: 20px;
    
}
.sub-heding {
    text-align: justify;
    font-size: 20px;
    display: inline-block;
    top: 50%;
}
.content{
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: #13255E;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 60px;
    font-family: monospace;
}
.description{
    margin-top: 100px;
}
#img1{
    margin-top: 20px;
    width: 100%;
    height: 350px;
}
.space{
    height: 60px;
}
.a{
    height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer-icon{
    margin-left: 20px;
}



/*footer*/
.footer-li,ul{
    list-style: none;
    color: white;
}
.footer-bs {
    background-color:#13255E;
    padding-top: 50px;
    padding-bottom: 40px;
    color: white; 
    font-family: 'Montserrat';
}
.footer-bs h4{
    margin-left: 20px;
    line-height: 50px;
    font-weight: 600;
}
.footer-bs a{
    color: white;
    margin-left: -20px;
    font-size: 14px; 
    line-height: 50px;  
}
.footer-icon span{
    margin-left: 20px;
}
.footer-social h4{
    margin-left: 0;
}
.footer-social li{
    margin-left: -40px;
    line-height: 50px;
}
.footer-ns h4{
    margin-left: 0;
}
.footer-ns button{
    background-color: #13255E;
    border: 1px white solid;
    border-radius: 20px;
    color: white;
    position: absolute;
    right: 0px; 
    padding-left: 30px;  
    padding-right: 30px;
}
.footer-ns button:hover{
    background-color:  white;
    color:  #13255E;
}
.footer{
    border-bottom: 1px white solid;
}
/* cart */
#cart {
    font-size: 25px;
    color:  #13255E;
    background: white;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    margin-left: 1rem;
    padding: 12px;
    cursor: pointer;
  }
  
  #cart:hover {
    border-color: #13255E;
  }
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
  }
  
  .cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .cart-row {
    display: flex;
  }
  
  .cart-item {
    width: 45%;
  }
  
  .cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
  }
  
  .cart-quantity {
    width: 35%;
  }
  
  .cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
  }
  
  .cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
  }
  
  .btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
  }
  
  .btn-danger:hover {
    background-color: #CC4C4C;
  }
  
  .cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
  }
  
  .cart-row:last-child {
    border-bottom: 1px solid black;
  }
  
  .cart-row:last-child .cart-column {
    border: none;
  }
  
  .cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
  }
  
  .cart-total-price {
    color: #333;
    font-size: 1.1em;
  }

  #myVideo {

    padding-left: 10px;
    height: 600px; 
    width: 100%;
    z-index:0;
}
.bannerss1{
    width: 100%;
    height: 600px;
    position: absolute;
    top:0px;
}
