/*menu*/
li ul{
    display: inline-block;
}
.prod-menu .row {
    font-family: 'Montserrat';
    min-height: 60px;
    padding-top: 50px;
}

.prod-banner {
    background: url(./banner-home.jpg);
    min-height: 600px;
    font-family: 'Montserrat';

}

.prod-banner-item,
.prod-banner-item-logo {
    display: inline-block;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.prod-banner-item:hover {
    cursor: pointer;
    border-bottom: white solid 2px;
}

.prod-banner-item.selected {
    border-bottom: white solid 2px;
}

.prod-banner-headline {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.prod-banner-title {
    font-size: 72px;
}
.prod-banner-desc {
    font-size: 36px;
}
#icon{
    color: #FFFFFF;
    text-align: center;
    padding-top: 120px;
}
.sub-heding{
    text-align: center;
    height: 200px;
    margin-top: 50px;
}
.b{
    padding-top: 100px;
    padding: 50px;
}
#img1{
    margin: auto;
    width: 100%;
    height: 300px;
}
#p1{
    text-align: center;
    padding-top: 100px;
}
p{
    font-size: medium;
}
h1{
    text-align: center;
}
h4{
    padding-left: 50px;
}
.heding{
    font-size: 50px;
    text-align: center;
}
.footer-bs {
    background-color:#13255E;
    padding: 60px 40px;
    color: white; 
}
.footer-bs h4{
    margin-left: 30px
}
.footer-bs a, .footer-bs p{
    color: white;
    margin-left: -20px;
    font-size: 15px;   
}
