.item{
    padding-top: 50px;
}

li ul{
    display: inline-block;
    list-style: none;
}
a:hover{
    color: #adadad;
}
.menu{
    margin-top: 30px;
    margin-bottom: 20px;    
}
.menu ul li{
    display: inline-block;
    padding: 10px 20px;
}
#icon{
    color: floralwhite;
    text-align: center;
    font size: 120px;
}
.c{
    padding-left: 60px;
    font-size: 20px;
    color: floralwhite;
}
body{
    font-family: 'Montserrat';
}
#contact{
    padding-left: 50px;
}
#nen{
    width: 100%;
    height: 550px;
    padding-bottom:30px;
}
#us{
    height: 100px;
    text-align: center;
    font-size: 80px;
    color: floralwhite;
    background: crimson;
    padding-bottom: 50px;
   
}
.story{
    height: 500px;
    padding:50px;
    padding-top: 70px;
    font-size: 20px;
    background-image: url(images/source/rice-paper-roll-4973365_960_720.jpg);
}

/*menu*/
.prod-menu .row {
    font-family: 'Montserrat';
    min-height: 60px;
    padding-top: 50px;
}

.prod-banner {
    background: url(images/source/banner-home.jpg);
    min-height: 600px;
    font-family: 'Montserrat';

}

.prod-banner-item,
.prod-banner-item-logo {
    display: inline-block;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.prod-banner-item:hover {
    cursor: pointer;
    border-bottom: white solid 2px;
}

.prod-banner-item.selected {
    border-bottom: white solid 2px;
}

.prod-banner-headline {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.prod-banner-title {
    font-size: 72px;
}
.prod-banner-desc {
    font-size: 36px;
}
/*agd*/

    .carousel { 
    margin-bottom: 0;   
    padding: 0 40px 30px 40px;
    }
     
    .carousel-control {
    left: -12px;    
    height: 40px;   
    width: 40px;    
    background: none repeat scroll 0 0 #222222; 
    border: 4px solid #FFFFFF;  
    border-radius: 23px 23px 23px 23px; 
    margin-top: 90px;
    }
     
    .carousel-control.right {   
    right: -12px;
    }
     
    .carousel-indicators {  
    right: 50%; top: auto;  
    bottom: -10px;  margin-right: -19px;
    }
    /* The colour of the indicators */
    .carousel-indicators li {   
    background: #cecece;
    }
    .carousel-indicators .active {  
    background: #428bca;
    }
    /*footer*/
.footer-li,ul{
    list-style: none;
    color: white;
}
.footer-bs {
    background-color:#13255E;
    padding-top: 50px;
    padding-bottom: 40px;
    color: white; 
    font-family: 'Montserrat';
}
.footer-bs h4{
    margin-left: 20px;
    line-height: 50px;
    font-weight: 600;
}
.footer-bs a{
    color: white;
    margin-left: -20px;
    font-size: 14px; 
    line-height: 50px;  
}
.footer-icon span{
    margin-left: 20px;
}
.footer-social h4{
    margin-left: 0;
}
.footer-social li{
    margin-left: -40px;
    line-height: 50px;
}
.footer-ns h4{
    margin-left: 0;
}
.footer-ns button{
    background-color: #13255E;
    border: 1px white solid;
    border-radius: 20px;
    color: white;
    position: absolute;
    right: 0px; 
    padding-left: 30px;  
    padding-right: 30px;
}
.footer-ns button:hover{
    background-color:  white;
    color:  #13255E;
}
.footer{
    border-bottom: 1px white solid;
}



