.prod-menu .row {
    font-family: 'Montserrat';
    min-height: 110px;
}

.prod-banner {
    background: url("../images/source/banner-home.jpg") no-repeat top;
    min-height: 600px;
    font-family: 'Montserrat';
    background-size: cover;
}

.prod-banner-item,
.prod-banner-item-logo {
    display: inline-block;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.prod-banner-item-logo img:hover{
   width: 110px;
   height: 110px; 
   cursor: pointer
}
.prod-banner-item:hover {
    cursor: pointer;
    border-bottom: white solid 2px;
}

.prod-banner-item.selected {
    border-bottom: white solid 2px;
}

.prod-banner-headline {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.prod-banner-title {
    font-size: 72px;
}

.prod-banner-desc {
    font-size: 36px;
}

.prod-item {
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.3);
}

.prod-item-img {
    display: inline-block;
}

.prod-item-desc {
    position: absolute;
    display: inline-block;
    top: 25%;
    left: 25%;
    display: none;
}
.prod-item-desc h2{
    font-size: 20px;
}

#prod_type {
    margin-top: 50px;
    margin-bottom: 80px;
}

.prod-type-item {
    background-color: white;
    text-align: center;
    align-items: center;
    border: 1px #13255E solid;
    height: 40px;
    font-size: 15px;
    display: inline-block;
    border-radius: 25px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.prod-type-item:hover,
.prod-type-item.selected {
    background-color: #13255E;
    color: white;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -50%;
        /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}


/* MD */

@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active+.carousel-item+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

#prod_slider{
    background-image: url(../images/source/background-san-pham.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.prod_slider_suggestion {
    text-align: center;
    color: #13255E;
    font-size: 40px;
    font-family: 'Montserrat';
    padding-top: 35px;
    padding-bottom: 16px;
    border-bottom: 1px #13255E solid;
}
.prod-item-des{
    text-align: center;
    color: #13255E;
    font-size: 20px;
    font-weight: 500;
}
.prod-item button{
    background-color: white;
    color:#13255E;
    font-weight: 600;
    width: 115px;
    font-size: 14px;
    text-align: center;
    
}
.prod-item button:hover{
    background-color:#13255E;
    color: white;
    
}
.prod-item-name{
    color: #13255E;
    font-weight: 700;
    font-size: 20px;
}
.prod-item-price{
    font-size: 25px;
}
.icon-add-to-cart{
    cursor: pointer;
    width:27px; 
    height:27px; 
}
.icon-add-to-cart:hover{
    width:35px; 
    height:35px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
  height: 100px;
  width: 70px;
  background-size: 80%, 80%;
  border-radius: 50%;
  border: 2px solid #13255E;
  background-image: none;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #13255E;
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #13255E;;
}
.prod-slider-button{
    margin-right: -110px;
    margin-left: -110px;
}
.pagination a{
    color: #13255E;
}
.pagination a:hover{
    background-color: #13255E;
    color: white;
}
.pagination a.active{
    background-color: #13255E;
    color: white;
}

/* form*/
form, input, textarea, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-size: 14px;
    color: #666;
    line-height: 22px;
    }
.form-title {
    font-family: 'Montserrat';
    position: absolute;
    margin: 0;
    line-height: 42px;
    font-size: 42px;
    color: #fff;
    z-index: 2;
    }
.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
    }
form {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 25px 0 #d6e0f5; 
    }
.banner {
    position: relative;
    height: 300px;
    background-image: url("../images/banner-home.jpg");  
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
.banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.3); 
    position: absolute;
    width: 100%;
    height: 100%;
    }
input, select, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    }
input {
    width: calc(100% - 10px);
    padding: 5px;
    }
input[type="date"] {
    padding: 4px 5px;
    }
select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
    }
textarea {
    width: calc(100% - 12px);
    padding: 5px;
    }
.item input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #13255E;
    color: #13255E;
    }
.item {
    position: relative;
    margin: 10px 0;
    }
input[type="date"]::-webkit-inner-spin-button {
    display: none;
    }
.item i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color:#13255E;
    }
.item i {
    right: 2%;
    top: 28px;
    z-index: 1;
    }
    [type="date"]::-webkit-calendar-picker-indicator {
    right: 1%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    }
.btn-block {
    margin-top: 10px;
    text-align: center;
    }
    @media (min-width: 568px) {
    .name-item, .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
/*footer*/
.footer-li,ul{
    list-style: none;
    color: white;
}
.footer-bs {
    background-color:#13255E;
    padding-top: 50px;
    padding-bottom: 40px;
    color: white; 
    font-family: 'Montserrat';
}
.footer-bs h4{
    margin-left: 20px;
    line-height: 50px;
    font-weight: 600;
}
.footer-bs a{
    color: white;
    margin-left: -20px;
    font-size: 14px; 
    line-height: 50px;  
}
.footer-icon span{
    margin-left: 20px;
}
.footer-social h4{
    margin-left: 0;
}
.footer-social li{
    margin-left: -40px;
    line-height: 50px;
}
.footer-ns h4{
    margin-left: 0;
}
.footer-ns button{
    background-color: #13255E;
    border: 1px white solid;
    border-radius: 20px;
    color: white;
    position: absolute;
    right: 0px; 
    padding-left: 30px;  
    padding-right: 30px;
}
.footer-ns button:hover{
    background-color:  white;
    color:  #13255E;
}
.footer{
    border-bottom: 1px white solid;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    margin: 0 auto;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
  
  }
  
  .modal-body {
    padding: 1rem;
  }
  
  .modal-footer {
    display: flex;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
  }
  
  .modal-footer>:not(:first-child) {
    margin-left: .25rem;
  }
  
  .btn {
    cursor: pointer;
    outline: none;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
  }
  
  .modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 1rem;
  }
  
  h5.modal-title {
    font-size: 1.5rem;
  }
  
  .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
    /* cart */
  #cart {
    font-size: 25px;
    color:  #13255E;
    background: white;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    margin-left: 1rem;
    padding: 12px;
    cursor: pointer;
  }
  
  #cart:hover {
    border-color: #13255E;
  }
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
  }
  
  .cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .cart-row {
    display: flex;
  }
  
  .cart-item {
    width: 45%;
  }
  
  .cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
  }
  
  .cart-quantity {
    width: 35%;
  }
  
  .cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
  }
  
  .cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
  }
  
  .btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
  }
  
  .btn-danger:hover {
    background-color: #CC4C4C;
  }
  
  .cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
  }
  
  .cart-row:last-child {
    border-bottom: 1px solid black;
  }
  
  .cart-row:last-child .cart-column {
    border: none;
  }
  
  .cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
  }
  
  .cart-total-price {
    color: #333;
    font-size: 1.1em;
  }
}
