button.focus,
button:focus {
    outline: 0;
    box-shadow: none !important
}


/*menu*/
.prod-menu .row {
    font-family: 'Montserrat';
    height: 110px;
}

.prod-banner {
    background: url("../images/source/banner-home.jpg") no-repeat top;
    min-height: 700px;
    font-family: 'Montserrat';
    background-size: cover;
}

.prod-banner-item,
.prod-banner-item-logo {
    display: inline-block;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.prod-banner-item-logo img:hover{
    width: 110px;
    height: 110px; 
    cursor: pointer
 }

.prod-banner-item:hover {
    cursor: pointer;
    border-bottom: white solid 2px;
}

.prod-banner-item.selected {
    border-bottom: white solid 2px;
}

.prod-banner-headline {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.prod-banner-title {
    font-size: 72px;
}

.prod-banner-desc {
    font-size: 36px;
}

.prod-item {
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.3);
}

.prod-item-img {
    display: inline-block;
}

.prod-item-desc {
    position: absolute;
    display: inline-block;
    top: 25%;
    left: 30%;
    display: none;
}

#prod_type {
    margin-top: 50px;
    margin-bottom: 80px;
}

.prod-type-item {
    background-color: white;
    text-align: center;
    align-items: center;
    border: 1px #13255E solid;
    height: 40px;
    font-size: 15px;
    display: inline-block;
    border-radius: 25px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.prod-type-item:hover,
.prod-type-item.selected {
    background-color: #13255E;
    color: white;
    cursor: pointer;
}

/*our suggesstion*/
@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -50%;
        /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}


/* MD */

@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active+.carousel-item+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}


/* LG */

@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

#prod_slider{
    background-image: url(../images/source/background-san-pham.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.prod_slider_suggestion {
    text-align: center;
    color: #13255E;
    font-size: 40px;
    font-family: 'Montserrat';
    padding-top: 35px;
    padding-bottom: 16px;
    border-bottom: 1px #13255E solid;
}
.prod-item-des{
    text-align: center;
    color: #13255E;
    font-size: 20px;
    font-weight: 500;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
  height: 100px;
  width: 70px;
  background-size: 80%, 80%;
  border-radius: 50%;
  border: 2px solid #13255E;
  background-image: none;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #13255E;
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #13255E;;
}
.prod-slider-button{
    margin-right: -110px;
    margin-left: -110px;
}
.button{
    background-color: #13255E;
}
.pagination a{
    color: #13255E;
}
.pagination a:hover{
    background-color: #13255E;
    color: white;
}
.pagination a.active{
    background-color: #13255E;
    color: white;
}

/*The cake story*/
.story h3{
    font-size: 40px;
    margin-bottom: 20px;
    width: 500px;
    text-align: justify;
    margin-left: 120px;
    font-family:'Montserrat' ;
    color: #FFFFFF;
}
#p3{
    text-align: justify;
    margin-top: 100px;
    margin-bottom: 30px;
}
#dv{
    width: 500px;
    text-align: justify;
    margin-left: 120px;
    color: #FFFFFF;
    font-family:'Montserrat' ;
    font-size: 12px;
}
.sto{
    background-color: #13255E;
    height: 480px;
}
.bnt:hover{
    background-color: #FFFFFF;
    color: #13255E ;
    font-weight: bold;
}
.bnt, .bnt1{
    background-color:#13255E;
    color: #FFFFFF;
    border-radius: 50px;
    border-color: #FFFFFF;
    margin-left:  500px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 22px;
    padding-right: 22px;
    margin-top: 20px;
}
#section{
    width: 550px;
    height: 350px;
    left: 100px;
    border: none;
    margin-left: 10px;
    margin-top: 65px;
}


/*our service*/
.hd{
    margin-top: 50px;
    text-align: center;
    color:#FFFFFF;
    font-size: 40px !important;
    font-family: 'Montserrat';
    padding-top: 35px;
    padding-bottom: 10px;
    border-bottom: 1px #FFFFFF solid;
    
}
.db{
    margin-top: 60px;
    background: url(../images/source/backgroun-dich-vu.jpg) no-repeat fixed top;
}
.rowdb{
    padding-top: 20px;
    margin-top: 20px;   
}
.rowdb1{
    padding-bottom: 20px;
    color: #FFFFFF;
    text-align: center;
}
.rowdb1 h3{
    font-size: 20px;
}
.rowdb1 h4{
    font-size: 12px;
    font-weight: 300;
}
.imgdb{
    width: 120px;
    height: 120px;
}
.item{
    padding-top: 50px;
}
.card {
    cursor: pointer
}
.icon3{
    height: 7px;
    width: 7px;
}
.img {
    margin-bottom: 35px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}
.card {
    cursor: pointer
}
.card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
}
.card-title {
    font-weight: 600;
}


/*vision*/
.hdr {
    margin-top: 50px;
    text-align: center;
    font-size: 40px ;
    font-family: 'Montserrat';
    padding-bottom: 10px;
    border-bottom: 1px #13255E solid;
    color: #13255E;
    font-weight: 500;
}
.vision{
    text-align: center;
    color:#13255E;
    background-color: darkgray;
    height: 280px;
}
.vision-des{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

/*footer*/
.footer-li,ul{
    list-style: none;
    color: white;
}
.footer-bs {
    background-color:#13255E;
    padding-top: 50px;
    padding-bottom: 40px;
    color: white; 
    font-family: 'Montserrat';
}
.footer-bs h4{
    margin-left: 20px;
    line-height: 50px;
    font-weight: 600;
}
.footer-bs a{
    color: white;
    margin-left: -20px;
    font-size: 14px; 
    line-height: 50px;  
}
.footer-icon span{
    margin-left: 20px;
}
.footer-social h4{
    margin-left: 0;
}
.footer-social li{
    margin-left: -40px;
    line-height: 50px;
}
.footer-ns h4{
    margin-left: 0;
}
.footer-ns button{
    background-color: #13255E;
    border: 1px white solid;
    border-radius: 20px;
    color: white;
    position: absolute;
    right: 0px; 
    padding-left: 30px;  
    padding-right: 30px;
}
.footer-ns button:hover{
    background-color:  white;
    color:  #13255E;
}
.footer{
    border-bottom: 1px white solid;
}
 /* cart */
 #cart {
    font-size: 25px;
    color:  #13255E;
    background: white;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    margin-left: 1rem;
    padding: 12px;
    cursor: pointer;
  }
  
  #cart:hover {
    border-color: #13255E;
  }
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
  }
  
  .cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .cart-row {
    display: flex;
  }
  
  .cart-item {
    width: 45%;
  }
  
  .cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
  }
  
  .cart-quantity {
    width: 35%;
  }
  
  .cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
  }
  
  .cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
  }
  
  .btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
  }
  
  .btn-danger:hover {
    background-color: #CC4C4C;
  }
  
  .cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
  }
  
  .cart-row:last-child {
    border-bottom: 1px solid black;
  }
  
  .cart-row:last-child .cart-column {
    border: none;
  }
  
  .cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
  }
  
  .cart-total-price {
    color: #333;
    font-size: 1.1em;
  }
